* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    /* outline: solid red 1px; */
}

header {
    text-align: center;
    padding: 20px;
    z-index: 2;
}
.logo {
    max-width: 10rem;
}

body {
    background-color:slateblue;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

main {
    margin: 0 auto;
    margin-top: -50px;
}

main>div{
    height: 100%;
    background-color:wheat;
    border: solid brown 2px;
    border-radius: 20px;
}

button {
    width: 100%;
    padding: 5px 10px;
    background-color:blueviolet;
    border: solid orangered 1px;
    border-radius: 10px;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

.scene{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    max-width: 900px;
}

/* ------------- ESCENA 1 --------------- */

.scene-1-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: first baseline;
    margin: 20px 10px;
}

.prota {
    max-width: 10rem;
}

.parametros-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.parametros {
    text-align: left;
}

/* ------------- ESCENA 2 --------------- */

.scene-2-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    width: 100%;
}

.mercado {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.producto {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 320px;
    min-width: 250px;
    padding: 10px;
    border: solid orangered 2px;
    border-radius: 10px;
    background-color:rgba(255, 252, 249, 0.649);
}
.imgProducto {
    max-width: 8rem;
    border-radius: 20px;
}

#conDescuento {
    background-color:rgb(167, 194, 245);
}

.descuento {
    font-weight: 800;
    margin-bottom: 5px;
}

.comprarProducto {
    margin-top: 10px;
}

.botonComprar {
    background-color: brown;
}

#inventory-container {
    background-color:orangered;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 8px;
    margin: 10px 20%;
    gap: 4px;
    border-radius: 10px;
}

.item {
    display: flex;
    background-color:rgb(218, 230, 233);
    aspect-ratio: 1/1;
    overflow:hidden;
    border-radius: 10px;
}

.comprado {
    background-color:brown;
}
